
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-copyright:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */